#channel_image{
    background-color: coral;
    padding:center top;
    margin:auto;

}

div{
    background:black;
    padding :  40px 40px 40px 900px ;

}

a{
    background:coral;
    margin: auto;
    padding: 40px;
}